@media (max-width:1010px) {
    #footer-links {
        margin: 0px 0 125px 0 !important; 
    }
    
}
@media (max-width: 870px) {
    body {
        font-size: 9px;
    }
    /*HEADER*/
    #header {
        align-items: center;
        height: 80px;
        #logo-image-wrapper {
            margin-left: 20px !important;
            img {
                width: 50%;
            }
        }
        #navbar-wrapper {
            justify-content: center;
            width: 40%;
            margin: 0px 20px 0 0;
        }
    }
    /*INTRO*/
    #intro {
        position: relative;
        padding-top: 15px;
        #intro-image-wrapper {
            width: 85%;
        } 
        h1 {
            width: 90% !important;
        }
        p {
            font-size: 1.6em;
            width: 80%;
            margin: 10px 0 0 0;
        } 
        #intro-button {
            width: 245px;
            height: 50px;
            font-size: 1.7em;
            margin-bottom: 0;
        }
    }

    /*CAPABILITIES*/
    #capabilities-block {
        margin-top: 150px;
        .capabilities {
            width: 90%;
            margin: auto !important;
            margin-bottom: 90px !important;
            h3 {
                font-size: 1.9em !important;
            }
            p {
                margin: 0 !important;
                font-size: 1.5em !important;
                width: 90% !important;
                margin: auto !important;
            }
        }

        #top {
            flex-direction: column;
            
        }
        #bottom {
            flex-direction: column;
            margin-top: 0 !important;

        }
    }

    /*INNER-WORKINGS*/
    #inner-working {
        margin-top: 35px !important;
        flex-direction: column;
        #stay-productive-image {
            width: 85%;
            padding: 0 !important;
            margin: auto;
        }
        #stay-productive-text {
            width: 85%;
            margin: auto;
            margin-top: 40px;
            h2 {
                margin: 0;
                font-size: 2em;
                width: 100%;
            }
            p {
                margin: 20px 0 0 0px;
                font-size: 1.5em;
                width: 100%;
                line-height: 1.6em;
            }
            a {
                margin: 20px 0 0;
                font-size: 1.4em;
            }
        }
    }

    /*TESTIMONIALS*/
    #testimonials {
        flex-direction: column;
        #quotes-image {
            top: -4%;
            left: 11%;
            width: 7%;
        }
        .quotes {
            width: 75%;
            margin: auto;
            margin-bottom: 20px;
            p {
                margin: 25px 25px 0px;
                line-height: 1.9em;
            }
            .person {
                h4 {
                    font-size: 1em;
                    letter-spacing: 1px;
                }
            }
        }
    }
    /*EMAIL_FORM*/ 
    #email-form-block {
        width: 90%;
        margin-top: 130px;
        h2 {
            font-size: 2em;
        }
        p {
            width: 80%;
            font-size: 1.5em;
        }
        #email-form {
            flex-direction: column;
            align-items: center;
            #email-field {
                width: 75%;
                height: 45px;
                padding-left: 20px;
            }
            #email-form-button {
                width: 82%;
                margin: 20px auto 0;
                font-size: 1.6em;
            }
        }
    }

    /*FOOTER*/ 
    #footer {
        flex-direction: column;
        align-items: center;
        height: 1300px;
        #footer-logo-block {
            width: 85%;
            margin: 190px auto 0 auto;
        }
        #communications {
            flex-direction: column;
            .comm-block {
                margin-bottom: 20px;
                p {
                    font-size: 1.7em;
                    width: 85%;
                }
            }
            #phone-email {
                .comm-block {

                    p {
                        font-size: 1.5em;
                    }
                    img {
                        left: 0px;
                    }
                }
                
            }
        }
        #footer-links {
            margin: 65px 0 0 0 !important;
            width: 85%;
            flex-direction: column;
            .footer-links {
                margin-bottom: 35px;
                width: auto;
                a {
                    font-size: 1.8em;
                }
               
            }
            #links {
                width: 90%;
                margin: auto !important;
                justify-content: center;
            }
        }
        
    } 

}